function Main.fact 2
push argument 0
pop local 0           
push constant 1
pop local 1           
label LOOP
push local 0
push constant 1
gt                   
if-goto CALCULATE
goto END        
label CALCULATE
push local 1
push local 0
mul 
pop local 1          
push local 0
push constant 1
sub
pop local 0          
goto LOOP
label END
push local 1
return               
